

.container-fluid {
  padding: 0 15px;
}

.priceTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  max-width: 100vw;
}


.card {
  max-width: 18rem;
  margin: 1rem;
  flex: 1 1 calc(33.333% - 2rem); 
}

@media (max-width: 992px) {
  .card {
    flex: 1 1 calc(50% - 2rem); 
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(100% - 2rem); 
  }
}
